In [1]:
# from google.colab import drive
# drive.mount('/content/drive')

In [2]:
# cd /content/drive/MyDrive/UBION_final_project/data

In [3]:
import pandas as pd
import numpy as np
from tqdm import tqdm

In [4]:
df = pd.read_csv("dataset/v7_final.csv", encoding='cp949')
df

,회사명,거래소코드,회계년도,산업코드,소속코드,상장일,상장폐지일,감사의견코드,총자본증가율,유형자산증가율,...,PCR(Price cash-flow ratio)(최고),PCR(Price cash-flow ratio)(최저),PSR(Price sales ratio)(최고),PSR(Price sales ratio)(최저),기업가치(EV)(백만원),EBITDA(백만원),EBITDA/매출액(%),EBITDA/금융비용(배),EBITDA/평균발행주식수(백만원),EV/EBITDA(배)
0,(주)CMG제약,58820,2007/12,32102.0,5.0,2001/08/31,NaN,UQ,120.08,215.25,...,0.0,0.0,149.75,20.92,69545.33,-1288.45,-71.74,0.00,-104.44,0.00
1,(주)CMG제약,58820,2008/12,32102.0,5.0,2001/08/31,NaN,UQ,56.55,55.67,...,0.0,0.0,9.13,1.49,-454.50,-3419.79,-31.64,-4.56,-221.19,NaN
2,(주)CMG제약,58820,2009/12,32102.0,5.0,2001/08/31,NaN,UQ,-33.92,-8.50,...,0.0,0.0,8.40,1.72,26517.58,-7100.69,-69.98,-6.80,-443.98,NaN
3,(주)CMG제약,58820,2010/12,32102.0,5.0,2001/08/31,NaN,UQ,5.66,-11.92,...,0.0,0.0,3.22,1.04,31200.74,-5598.06,-49.32,-5.51,-243.34,NaN
4,(주)CMG제약,58820,2011/12,32102.0,5.0,2001/08/31,NaN,UQ,14.18,7.86,...,0.0,0.0,3.14,1.05,37758.74,2038.64,11.48,11.24,46.75,18.52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25116,흥아해운(주),3280,2016/12,85001.0,1.0,1976/06/29,NaN,UQ,22.22,39.20,...,0.0,0.0,0.34,0.14,340691.22,25963.80,3.33,0.94,267.91,13.12
25117,흥아해운(주),3280,2017/12,85001.0,1.0,1976/06/29,NaN,UQ,-11.51,-16.52,...,0.0,0.0,0.38,0.12,312737.81,8543.76,1.09,0.28,66.90,36.60
25118,흥아해운(주),3280,2018/12,85001.0,1.0,1976/06/29,NaN,UQ,-6.15,-12.08,...,0.0,0.0,0.24,0.09,271146.89,-16597.13,-2.35,-0.51,-97.94,0.00
25119,흥아해운(주),3280,2019/12,85001.0,1.0,1976/06/29,NaN,DU,-50.62,-51.49,...,0.0,0.0,1.40,0.35,357832.12,6139.30,6.30,0.24,46.96,58.29
25120,흥아해운(주),3280,2020/12,85001.0,1.0,1976/06/29,NaN,UQ,-26.33,-24.53,...,0.0,0.0,0.71,0.27,278991.72,9607.98,11.24,0.62,82.31,29.04

# 같은 회사명에 거래소 코드가 여러개인 애가 있음

In [5]:
check = df.groupby(['회사명'])['거래소코드'].nunique().reset_index()
check.rename(columns={'거래소코드':'거래소코드_갯수'}, inplace=True)
check = check[ check['거래소코드_갯수']>1]

In [6]:
check_df = df[df['회사명'].isin(check['회사명'].tolist())]
check_df = check_df.reset_index()
check_df

,index,회사명,거래소코드,회계년도,산업코드,소속코드,상장일,상장폐지일,감사의견코드,총자본증가율,...,PCR(Price cash-flow ratio)(최고),PCR(Price cash-flow ratio)(최저),PSR(Price sales ratio)(최고),PSR(Price sales ratio)(최저),기업가치(EV)(백만원),EBITDA(백만원),EBITDA/매출액(%),EBITDA/금융비용(배),EBITDA/평균발행주식수(백만원),EV/EBITDA(배)
0,3589,(주)본느,226340,2019/12,32004.0,5.0,2015/11/05,NaN,UQ,22.22,...,19.37,5.41,6.04,1.69,113526.43,7423.36,22.53,207.10,246.64,15.29
1,3590,(주)본느,226340,2018/12,32004.0,5.0,2015/11/05,NaN,UQ,0.00,...,0.00,0.00,4.32,1.88,60529.18,3873.97,15.59,22.67,133.14,15.62
2,3591,(주)본느,242420,2017/12,32004.0,4.0,2016/05/16,2018/10/29,UQ,30.41,...,0.00,0.00,0.00,0.00,-3492.36,3261.57,16.13,24.32,1005.82,-1.07
3,3592,(주)본느,226340,2016/12,32004.0,5.0,2015/11/05,NaN,UQ,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3593,(주)본느,242420,2016/12,32004.0,4.0,2016/05/16,2018/10/29,UQ,15.69,...,0.00,0.00,0.00,0.00,-1515.16,2449.61,16.30,138.05,755.41,-0.62
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,23432,패션플랫폼(주),256090,2016/12,31401.0,4.0,2016/12/20,2018/02/13,UQ,43.27,...,0.00,0.00,0.00,0.00,43.48,7033.65,12.69,76.54,1734.97,0.01
266,23433,패션플랫폼(주),225590,2017/12,31401.0,5.0,2015/10/05,NaN,UQ,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
267,23434,패션플랫폼(주),225590,2018/12,31401.0,5.0,2015/10/05,NaN,UQ,0.00,...,13.04,5.28,0.96,0.39,26157.01,5565.48,7.49,61.11,212.41,4.70
268,23435,패션플랫폼(주),225590,2019/12,31401.0,5.0,2015/10/05,NaN,UQ,26.61,...,6.56,4.09,0.61,0.38,33911.28,9795.64,12.34,58.30,373.85,3.46
269,23436,패션플랫폼(주),225590,2020/12,31401.0,5.0,2015/10/05,NaN,UQ,0.25,...,0.00,0.00,0.68,0.26,35148.92,4347.23,7.48,22.17,163.20,8.09

In [7]:
check_df.groupby(['회사명','거래소코드'])['index'].count().reset_index()

            회사명   거래소코드  index
0         (주)본느  226340      6
1         (주)본느  242420      2
2      (주)세화피앤씨   85980      4
3      (주)세화피앤씨  252500      5
4      (주)신성이엔지   11930     14
5      (주)신성이엔지  104110      8
6    (주)아이엘사이언스  122050      1
7    (주)아이엘사이언스  307180      3
8       (주)알로이스  271400      2
9       (주)알로이스  297570      3
10     (주)엔케이맥스  182400      6
11     (주)엔케이맥스  262760      1
12       (주)인산가   62580      3
13       (주)인산가  277410      4
14      (주)인터파크   35080     14
15      (주)인터파크  108790      6
16       (주)자비스  230400      4
17       (주)자비스  254120      5
18       (주)정다운  208140      7
19       (주)정다운  224090      1
20    (주)카이노스메드  220250      5
21    (주)카이노스메드  284620      3
22   (주)티에스트릴리온  284610      3
23   (주)티에스트릴리온  317240      2
24      (주)판타지오   32800     14
25      (주)판타지오  187770      1
26  (주)포인트엔지니어링  176560      2
27  (주)포인트엔지니어링  256630      4
28       (주)풀무원   17810     14
29       (주)풀무원  103160      1
30     (주)한국비엔씨  226610      4
31     (주)한국비엔씨  256840      5
32     (주)핸디소프트   32380      3
33     (주)핸디소프트  220180      5
34      나무기술(주)  167380      2
35      나무기술(주)  242040      5
36      삼성물산(주)     830      8
37      삼성물산(주)   28260      7
38     소프트캠프(주)  210610      5
39     소프트캠프(주)  258790      4
40     씨아이에스(주)  144630      2
41     씨아이에스(주)  222080      6
42      에스와이(주)    4530      1
43      에스와이(주)  109610      6
44      에스케이(주)    3600      8
45      에스케이(주)   34730     12
46     엔에이치엔(주)   35420      1
47     엔에이치엔(주)  181710      8
48   엠에프엠코리아(주)  251960      4
49   엠에프엠코리아(주)  323230      2
50      줌인터넷(주)  229480      3
51      줌인터넷(주)  239340      5
52     케이엠제약(주)  225430      6
53     케이엠제약(주)  237720      3
54     패션플랫폼(주)  225590      6
55     패션플랫폼(주)  256090      1

In [8]:
# 합병등과 같은 이유로 거래소코드가 2개인 경우 데이터프레임에서 삭제
df = df[~df['회사명'].isin(check_df['회사명'])]

# 거래소코드가 같은데 회사명이 두개인 경우가 있었음

In [9]:
check = df.groupby(['거래소코드'])['회사명'].nunique().reset_index()
check[check['회사명']>1]

     거래소코드  회사명
759  30790    2
791  32640    2

In [10]:
print( df[df['거래소코드']==30790]['회사명'].unique() )
# '동양시스템즈(주) -> '비케이탑스(주)'

df.loc[df['회사명']=='동양시스템즈(주)', '회사명'] = '비케이탑스(주)'

['동양시스템즈(주)' '비케이탑스(주)']

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [11]:
print( df[df['거래소코드']==32640]['회사명'].unique() )
#'(주)엘지텔레콤' -> '(주)엘지유플러스'

df.loc[df['회사명']=='(주)엘지텔레콤', '회사명'] = '(주)엘지유플러스'

['(주)엘지유플러스' '(주)엘지텔레콤']

In [12]:
check = df.groupby(['거래소코드'])['회사명'].nunique().reset_index()
check[check['회사명']>1]

Empty DataFrame
Columns: [거래소코드, 회사명]
Index: []

# preprocessing

In [13]:
df = df[~df['산업코드'].isnull()]

In [14]:
df['산업코드'] = df['산업코드'].astype(int)
df['산업코드'] = df['산업코드'].astype(str).str.zfill(6)
df['산업대분류'] = df['산업코드'].str[:2]

In [15]:
df = df[df['산업대분류'].isin(['03','10','07'])]

# 결측치

In [16]:
# 컬럼을 기준으로 nan 값 개수를 출력해본다
df.isnull().sum(0).reset_index().sort_values(by=0, ascending=False).head(20)

                              index      0
6                             상장폐지일  18887
135  종업원1인당 경상이익 (2007년 이전 발생)(백만원)   7437
38              투자수익률 (2007년 이전 발생)   7436
31          자기자본경상이익률 (2007년 이전 발생)   7436
66         1주당경상이익 (2007년 이전 발생)(원)   7436
24           매출액경상이익률 (2007년 이전 발생)   7436
34           자본금경상이익률 (2007년 이전 발생)   7436
12            경상이익증가율 (2007년 이전 발생)   7436
28           총자본경상이익률 (2007년 이전 발생)   7436
37            기업경상이익률 (2007년 이전 발생)   7436
173                    EV/EBITDA(배)   1033
146                           자본분배율    254
145                         노동소득분배율    254
144                           부가가치율    254
143                          기계투자효율    254
142                          설비투자효율    254
139                           기계장비율    254
141                         총자본투자효율    254
140                           자본집약도    254
138                           노동장비율    254

In [17]:
# EV/EBITDA(배) NULL값이 너무 많기 때문에 값 채우기

# 여러가지 경우의 수를 확인하는 작업
# df[(df['기업가치(EV)(백만원)'] < 0)&(df['EBITDA(백만원)'] < 0)]['EV/EBITDA(배)'].value_counts()
# df[(df['기업가치(EV)(백만원)'] > 0)&(df['EBITDA(백만원)'] < 0)]['EV/EBITDA(배)'].value_counts()
# df[(df['기업가치(EV)(백만원)'] < 0)&(df['EBITDA(백만원)'] > 0) &(df['EV/EBITDA(배)'] <0)]
# df[(df['기업가치(EV)(백만원)'] > 0)&(df['EBITDA(백만원)'] > 0)  &(df['EV/EBITDA(배)'] >0)]
# df[df['EBITDA(백만원)']==0]
df = df.loc[df['EBITDA(백만원)']!=0]
df['EV/EBITDA(배)'] = round(df['기업가치(EV)(백만원)']/df['EBITDA(백만원)'], 3)
df.loc[(df['EV/EBITDA(배)'] < 0), 'EV/EBITDA(배)'] = 0

In [18]:
df[df['회사명'] == '(주)차바이오텍']

,회사명,거래소코드,회계년도,산업코드,소속코드,상장일,상장폐지일,감사의견코드,총자본증가율,유형자산증가율,...,PCR(Price cash-flow ratio)(최저),PSR(Price sales ratio)(최고),PSR(Price sales ratio)(최저),기업가치(EV)(백만원),EBITDA(백만원),EBITDA/매출액(%),EBITDA/금융비용(배),EBITDA/평균발행주식수(백만원),EV/EBITDA(배),산업대분류
11390,(주)차바이오텍,85660,2007/12,032101,5.0,2005/12/27,NaN,UQ,70.41,12.26,...,4.58,1.30,0.29,26929.92,9947.25,18.37,10.08,1837.13,2.707,03
11391,(주)차바이오텍,85660,2009/12,032101,5.0,2005/12/27,NaN,UQ,57.55,92.07,...,8.81,12.60,2.25,423002.92,6311.97,7.59,4.66,133.42,67.016,03
11392,(주)차바이오텍,85660,2010/12,032101,5.0,2005/12/27,NaN,UQ,53.69,30.45,...,21.15,9.93,4.98,490099.32,-3162.11,-3.89,-1.49,-58.93,0.000,03
11393,(주)차바이오텍,85660,2011/12,032101,5.0,2005/12/27,NaN,UQ,43.72,-5.42,...,24.49,10.57,5.08,671197.89,-1161.83,-1.18,-0.54,-18.26,0.000,03
11394,(주)차바이오텍,85660,2012/12,032101,5.0,2005/12/27,NaN,UQ,-2.64,17.28,...,34.95,6.55,3.60,580841.43,9791.94,7.27,11.77,151.38,59.318,03
11395,(주)차바이오텍,85660,2014/12,032101,5.0,2005/12/27,NaN,UQ,-29.02,-18.10,...,0.00,78.53,41.49,632629.03,-4552.68,-32.56,-4.28,-80.43,0.000,03
11396,(주)차바이오텍,85660,2015/12,032101,5.0,2005/12/27,NaN,UQ,-3.87,-10.49,...,424.95,61.75,38.92,703238.59,-2874.98,-17.86,-2.35,-57.13,0.000,03
11397,(주)차바이오텍,85660,2016/12,032101,5.0,2005/12/27,NaN,UQ,19.64,-4.63,...,481.44,48.61,29.99,666387.21,757.78,4.02,0.31,15.00,879.394,03
11398,(주)차바이오텍,85660,2017/12,032101,5.0,2005/12/27,NaN,QG,-6.71,-3.55,...,214.73,53.62,25.78,1169353.75,-2260.42,-10.12,-0.50,-44.15,0.000,03
11399,(주)차바이오텍,85660,2019/12,032101,5.0,2005/12/27,NaN,UQ,12.89,73.57,...,0.00,46.65,18.35,737211.01,2074.23,6.84,0.88,39.52,355.414,03
11400,(주)차바이오텍,85660,2008/12,032101,5.0,2005/12/27,NaN,UQ,43.52,-1.26,...,0.00,1.26,0.33,4580.42,11930.33,16.92,12.76,846.95,0.384,03
11401,(주)차바이오텍,85660,2020/12,032101,5.0,2005/12/27,NaN,UQ,22.11,33.97,...,281.23,52.27,19.62,1101856.30,3244.32,12.12,0.80,61.81,339.626,03
11402,(주)차바이오텍,85660,2013/12,032101,5.0,2005/12/27,NaN,UQ,13.35,18.18,...,24.90,5.79,3.78,705962.12,19741.93,12.69,21.11,292.46,35.760,03

In [19]:
df.isnull().sum(0).reset_index().sort_values(by=0, ascending=False).head(20)

                              index      0
6                             상장폐지일  18885
135  종업원1인당 경상이익 (2007년 이전 발생)(백만원)   7435
38              투자수익률 (2007년 이전 발생)   7434
24           매출액경상이익률 (2007년 이전 발생)   7434
66         1주당경상이익 (2007년 이전 발생)(원)   7434
31          자기자본경상이익률 (2007년 이전 발생)   7434
34           자본금경상이익률 (2007년 이전 발생)   7434
12            경상이익증가율 (2007년 이전 발생)   7434
28           총자본경상이익률 (2007년 이전 발생)   7434
37            기업경상이익률 (2007년 이전 발생)   7434
146                           자본분배율    254
145                         노동소득분배율    254
144                           부가가치율    254
143                          기계투자효율    254
142                          설비투자효율    254
139                           기계장비율    254
141                         총자본투자효율    254
140                           자본집약도    254
138                           노동장비율    254
137                 종업원1인당 인건비(백만원)    254

In [20]:
# 2007이전 발생한 항목은 nan값이 너무 많고, 우리가 시행하는 기간 기준에도 부합하지 않아 삭제한다.
col_list = df.columns

drop_col = [s for s in col_list if "2007" in s] 
df.drop(drop_col, axis=1, inplace=True)

In [21]:
df.isnull().sum(0).reset_index().sort_values(by=0, ascending=False).head(20)

                          index      0
6                         상장폐지일  18885
158  PSR(Price sales ratio)(최저)    254
131                       자본집약도    254
140       법인세비용차감전(계속사업)손익(백만원)    254
139                 부가가치(백만원).1    254
138                       이윤분배율    254
137                       자본분배율    254
136                     노동소득분배율    254
135                       부가가치율    254
133                      설비투자효율    254
132                     총자본투자효율    254
130                       기계장비율    254
142                   금융비용(백만원)    254
129                       노동장비율    254
128             종업원1인당 인건비(백만원)    254
127             종업원1인당 순이익(백만원)    254
126             종업원1인당 매출액(백만원)    254
125            종업원1인당 부가가치(백만원)    254
124                   부가가치(백만원)    254
160                 EBITDA(백만원)    254

In [22]:
# 행 기준으로 nan 값을많이 가지고 있는 것을 뽑는다.
df['NaN_cnt'] = df.isnull().sum(1)
df['NaN_cnt'].value_counts().reset_index()

   index  NaN_cnt
0      1    18638
1      0     2060
2    158      228
3    159       15
4    157        9
5     28        2
6     16        2

In [23]:
df[df['NaN_cnt'] == 16]

,회사명,거래소코드,회계년도,산업코드,소속코드,상장일,상장폐지일,감사의견코드,총자본증가율,유형자산증가율,...,PSR(Price sales ratio)(최고),PSR(Price sales ratio)(최저),기업가치(EV)(백만원),EBITDA(백만원),EBITDA/매출액(%),EBITDA/금융비용(배),EBITDA/평균발행주식수(백만원),EV/EBITDA(배),산업대분류,NaN_cnt
20814,엘브이엠씨홀딩스(주),900140,2010/12,074501,1.0,2010/11/30,NaN,NaN,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,07,16
20815,엘브이엠씨홀딩스(주),900140,2011/12,074501,1.0,2010/11/30,NaN,NaN,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,07,16

In [24]:
df = df[df['NaN_cnt'] < 16]
df['NaN_cnt'].value_counts()

1    18638
0     2060
Name: NaN_cnt, dtype: int64

In [25]:
# 컬럼기준으로 nan 값을 확인해보면, 상장폐지일 컬럼에만 nan값이 있는 것을 확인할 수 있다.
# df.isnull().sum(0).reset_index().sort_values(by=0, ascending=False)

In [26]:
df['회계년도'] = df['회계년도'].str[0:4].astype(int)

In [27]:
df.sort_values(by=['회사명', '회계년도'], ascending=[True, True], inplace=True)

In [28]:
# df_03 = df[df['산업대분류'] == '03']
# df_07 = df[df['산업대분류'] == '07']
# df_10 = df[df['산업대분류'] == '10']

In [29]:
# df_07.describe()

In [30]:
df = df.drop(columns={'NaN_cnt','상장폐지일'})
df

,회사명,거래소코드,회계년도,산업코드,소속코드,상장일,감사의견코드,총자본증가율,유형자산증가율,유동자산증가율,...,PCR(Price cash-flow ratio)(최저),PSR(Price sales ratio)(최고),PSR(Price sales ratio)(최저),기업가치(EV)(백만원),EBITDA(백만원),EBITDA/매출액(%),EBITDA/금융비용(배),EBITDA/평균발행주식수(백만원),EV/EBITDA(배),산업대분류
0,(주)CMG제약,58820,2007,032102,5.0,2001/08/31,UQ,120.08,215.25,29.79,...,0.00,149.75,20.92,69545.33,-1288.45,-71.74,0.00,-104.44,0.000,03
1,(주)CMG제약,58820,2008,032102,5.0,2001/08/31,UQ,56.55,55.67,86.84,...,0.00,9.13,1.49,-454.50,-3419.79,-31.64,-4.56,-221.19,0.133,03
2,(주)CMG제약,58820,2009,032102,5.0,2001/08/31,UQ,-33.92,-8.50,-41.24,...,0.00,8.40,1.72,26517.58,-7100.69,-69.98,-6.80,-443.98,0.000,03
3,(주)CMG제약,58820,2010,032102,5.0,2001/08/31,UQ,5.66,-11.92,18.08,...,0.00,3.22,1.04,31200.74,-5598.06,-49.32,-5.51,-243.34,0.000,03
4,(주)CMG제약,58820,2011,032102,5.0,2001/08/31,UQ,14.18,7.86,31.54,...,0.00,3.14,1.05,37758.74,2038.64,11.48,11.24,46.75,18.522,03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25102,흥구석유(주),24060,2016,074607,5.0,1994/12/07,UQ,1.39,-5.61,7.35,...,35.62,0.43,0.28,55934.79,1348.52,0.94,10.71,89.90,41.479,07
25103,흥구석유(주),24060,2017,074607,5.0,1994/12/07,UQ,0.98,-0.56,7.34,...,24.31,0.34,0.24,46036.63,1147.56,0.74,9.02,76.50,40.117,07
25104,흥구석유(주),24060,2018,074607,5.0,1994/12/07,UQ,-5.89,-0.36,-21.19,...,7.82,0.40,0.24,36557.57,1451.79,0.87,16.83,96.79,25.181,07
25105,흥구석유(주),24060,2019,074607,5.0,1994/12/07,UQ,11.24,-7.00,80.74,...,51.31,0.86,0.25,78081.78,1009.25,0.67,507.93,67.28,77.366,07
25106,흥구석유(주),24060,2020,074607,5.0,1994/12/07,UQ,0.07,-13.92,22.41,...,26.50,1.55,0.40,107308.51,16.31,0.01,0.00,1.09,6579.308,07

In [31]:
# 부도여부 칼럼 형성
df.loc[((df['감사의견코드'] == 'DS') | 
          (df['감사의견코드'] == 'DU')) & 
         (df['소속코드'].isin([3,4,6])), 
         '부도여부'] = '1'

df['부도여부'] = df['부도여부'].fillna('0')

In [32]:
df['부도여부'].value_counts()

0    20450
1      248
Name: 부도여부, dtype: int64

# 방법2 채택을 위한 작업

In [33]:
df['left_on'] = df['회계년도']-1

left_df = df[['회사명', '거래소코드','부도여부','left_on']]

In [34]:
merged_df = pd.merge(left_df, df, left_on=['회사명','거래소코드','left_on'], 
                     right_on = ['회사명','거래소코드','회계년도'], how='left')
merged_df.head()
# 여기에 Nan값이 나오는 이유
# left_on_x의 처음 값이 2006년인데, 우리는 데이터셋을 에초에 2007년부터 불러왔기 때문에 없는 것임.
# 따라서 해당 행을 drop해야 한다.

,회사명,거래소코드,부도여부_x,left_on_x,회계년도,산업코드,소속코드,상장일,감사의견코드,총자본증가율,...,PSR(Price sales ratio)(최저),기업가치(EV)(백만원),EBITDA(백만원),EBITDA/매출액(%),EBITDA/금융비용(배),EBITDA/평균발행주식수(백만원),EV/EBITDA(배),산업대분류,부도여부_y,left_on_y
0,(주)CMG제약,58820,0,2006,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,(주)CMG제약,58820,0,2007,2007.0,032102,5.0,2001/08/31,UQ,120.08,...,20.92,69545.33,-1288.45,-71.74,0.00,-104.44,0.000,03,0,2006.0
2,(주)CMG제약,58820,0,2008,2008.0,032102,5.0,2001/08/31,UQ,56.55,...,1.49,-454.50,-3419.79,-31.64,-4.56,-221.19,0.133,03,0,2007.0
3,(주)CMG제약,58820,0,2009,2009.0,032102,5.0,2001/08/31,UQ,-33.92,...,1.72,26517.58,-7100.69,-69.98,-6.80,-443.98,0.000,03,0,2008.0
4,(주)CMG제약,58820,0,2010,2010.0,032102,5.0,2001/08/31,UQ,5.66,...,1.04,31200.74,-5598.06,-49.32,-5.51,-243.34,0.000,03,0,2009.0

In [35]:
merged_df[merged_df['회사명']=='(주)차바이오텍']

,회사명,거래소코드,부도여부_x,left_on_x,회계년도,산업코드,소속코드,상장일,감사의견코드,총자본증가율,...,PSR(Price sales ratio)(최저),기업가치(EV)(백만원),EBITDA(백만원),EBITDA/매출액(%),EBITDA/금융비용(배),EBITDA/평균발행주식수(백만원),EV/EBITDA(배),산업대분류,부도여부_y,left_on_y
9551,(주)차바이오텍,85660,0,2006,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9552,(주)차바이오텍,85660,0,2007,2007.0,032101,5.0,2005/12/27,UQ,70.41,...,0.29,26929.92,9947.25,18.37,10.08,1837.13,2.707,03,0,2006.0
9553,(주)차바이오텍,85660,0,2008,2008.0,032101,5.0,2005/12/27,UQ,43.52,...,0.33,4580.42,11930.33,16.92,12.76,846.95,0.384,03,0,2007.0
9554,(주)차바이오텍,85660,0,2009,2009.0,032101,5.0,2005/12/27,UQ,57.55,...,2.25,423002.92,6311.97,7.59,4.66,133.42,67.016,03,0,2008.0
9555,(주)차바이오텍,85660,0,2010,2010.0,032101,5.0,2005/12/27,UQ,53.69,...,4.98,490099.32,-3162.11,-3.89,-1.49,-58.93,0.000,03,0,2009.0
9556,(주)차바이오텍,85660,0,2011,2011.0,032101,5.0,2005/12/27,UQ,43.72,...,5.08,671197.89,-1161.83,-1.18,-0.54,-18.26,0.000,03,0,2010.0
9557,(주)차바이오텍,85660,0,2012,2012.0,032101,5.0,2005/12/27,UQ,-2.64,...,3.60,580841.43,9791.94,7.27,11.77,151.38,59.318,03,0,2011.0
9558,(주)차바이오텍,85660,0,2013,2013.0,032101,5.0,2005/12/27,UQ,13.35,...,3.78,705962.12,19741.93,12.69,21.11,292.46,35.760,03,0,2012.0
9559,(주)차바이오텍,85660,0,2014,2014.0,032101,5.0,2005/12/27,UQ,-29.02,...,41.49,632629.03,-4552.68,-32.56,-4.28,-80.43,0.000,03,0,2013.0
9560,(주)차바이오텍,85660,0,2015,2015.0,032101,5.0,2005/12/27,UQ,-3.87,...,38.92,703238.59,-2874.98,-17.86,-2.35,-57.13,0.000,03,0,2014.0
9561,(주)차바이오텍,85660,0,2016,2016.0,032101,5.0,2005/12/27,UQ,19.64,...,29.99,666387.21,757.78,4.02,0.31,15.00,879.394,03,0,2015.0
9562,(주)차바이오텍,85660,0,2018,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9563,(주)차바이오텍,85660,0,2019,2019.0,032101,5.0,2005/12/27,UQ,12.89,...,18.35,737211.01,2074.23,6.84,0.88,39.52,355.414,03,0,2018.0

In [36]:
merged_df.isnull().sum().value_counts()

2222    165
0         4
dtype: int64

In [37]:
# 2006년 데이터는 애초에 없기에 그런 행들을 삭제해준다.
merged_df = merged_df[~merged_df['회계년도'].isnull()]

merged_df.drop(columns = ['부도여부_y','left_on_x','left_on_y'], inplace=True)
merged_df.rename(columns = {'부도여부_x': '차기부도여부'}, inplace=True)
merged_df.sort_values(by=['회사명', '회계년도'], inplace=True)
merged_df.shape

# 18723 행

(18476, 166)

In [38]:
print('부도 기업의 데이터 행 수 : {}'.format(merged_df['차기부도여부'].value_counts()[1]))
print('다음 사업연도에 감삭결과가 DS, DU 이거나 관리종목 혹은 상장 폐지로 되는 기업의 개수 : {}'.
      format(merged_df[merged_df['차기부도여부']=='1']['회사명'].nunique()))

부도 기업의 데이터 행 수 : 234
다음 사업연도에 감삭결과가 DS, DU 이거나 관리종목 혹은 상장 폐지로 되는 기업의 개수 : 214

In [39]:
first_bankruptcy=pd.DataFrame(columns=['회사명'])
first_bankruptcy['회사명'] = merged_df['회사명'].unique()

# merged_df에서 고유한 회사명만 가져가게 된다.
# first_bankruptcy

In [40]:
# check에는 234개의 부도 데이터가 들어가게 된다. (즉, 기업이 중복되는 행이 존재하는 것)
check = merged_df[merged_df['차기부도여부']=='1'][['회사명','회계년도','차기부도여부']].sort_values(by=['회사명', '회계년도', '차기부도여부'], ascending=[True, True, True])
# 중복되는 기업 행을 제거하기 위해 시행하는 것으로 keep first는 중복되는 값 중 앞에 있는 것을 남기겠다는 것
check = check.drop_duplicates(['회사명'], keep='first')
check.drop(columns='차기부도여부', inplace=True)
# 따라서 check는 214개의 부도 데이터를 가져가게 된다.
# check

In [41]:
# 고유한 기업 2126개에 부도 기업 214개를 merge 하게되면 회계년도 부도난 시점이 들어가게 됨.
first_bankruptcy = pd.merge(first_bankruptcy, check, how ='left', on='회사명')
# 하지만, 정상기업의 경우는 Nan 값이 들어가기 때문에 fillna를 시행한다
first_bankruptcy['회계년도'] = first_bankruptcy['회계년도'].fillna(2021.0)
# 여기서 회계년도 + 1 년에 부도가 발생한 것이기 때문에 회계년도 를 첫부도일 -1 이라는 더 직관적인 명칭으로 변경한다
first_bankruptcy.rename(columns={'회계년도' : '첫_부도일-1'}, inplace=True)
# first_bankruptcy

In [42]:
# 2021.0이 아닌 값을 가지게 되는 기업은 총 214개로 이는 고유한 부도기업 데이터임
first_bankruptcy[first_bankruptcy['첫_부도일-1']!=2021.0]

            회사명  첫_부도일-1
22        (주)고제   2008.0
23     (주)골드앤에스   2018.0
42        (주)금빛   2019.0
47        (주)기린   2007.0
55     (주)나노하이텍   2007.0
...         ...      ...
1974   파나케이아(주)   2019.0
1998  한국기술산업(주)   2008.0
2063   해원에스티(주)   2008.0
2085   현대페인트(주)   2014.0
2088    현진소재(주)   2018.0

[214 rows x 2 columns]

In [43]:
# 먼저 빈 데이터 프레임, 리스트를 형성해준다.
final_df  = pd.DataFrame()
tmp_list = []

for row, col  in first_bankruptcy.iterrows():
  tmp = merged_df[(merged_df['회사명'] == col['회사명']) & (merged_df['회계년도']<= col['첫_부도일-1'])]
  tmp_list.append(tmp)
final_df = pd.concat(tmp_list)
final_df.reset_index(inplace=True)
final_df.drop(columns='index', inplace = True)

In [44]:
final_df

,회사명,거래소코드,차기부도여부,회계년도,산업코드,소속코드,상장일,감사의견코드,총자본증가율,유형자산증가율,...,PCR(Price cash-flow ratio)(최저),PSR(Price sales ratio)(최고),PSR(Price sales ratio)(최저),기업가치(EV)(백만원),EBITDA(백만원),EBITDA/매출액(%),EBITDA/금융비용(배),EBITDA/평균발행주식수(백만원),EV/EBITDA(배),산업대분류
0,(주)CMG제약,58820,0,2007.0,032102,5.0,2001/08/31,UQ,120.08,215.25,...,0.00,149.75,20.92,69545.33,-1288.45,-71.74,0.00,-104.44,0.000,03
1,(주)CMG제약,58820,0,2008.0,032102,5.0,2001/08/31,UQ,56.55,55.67,...,0.00,9.13,1.49,-454.50,-3419.79,-31.64,-4.56,-221.19,0.133,03
2,(주)CMG제약,58820,0,2009.0,032102,5.0,2001/08/31,UQ,-33.92,-8.50,...,0.00,8.40,1.72,26517.58,-7100.69,-69.98,-6.80,-443.98,0.000,03
3,(주)CMG제약,58820,0,2010.0,032102,5.0,2001/08/31,UQ,5.66,-11.92,...,0.00,3.22,1.04,31200.74,-5598.06,-49.32,-5.51,-243.34,0.000,03
4,(주)CMG제약,58820,0,2011.0,032102,5.0,2001/08/31,UQ,14.18,7.86,...,0.00,3.14,1.05,37758.74,2038.64,11.48,11.24,46.75,18.522,03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18432,흥구석유(주),24060,0,2015.0,074607,5.0,1994/12/07,UQ,12.89,-0.74,...,6.93,0.32,0.20,48071.55,856.25,0.55,15.54,57.08,56.142,07
18433,흥구석유(주),24060,0,2016.0,074607,5.0,1994/12/07,UQ,1.39,-5.61,...,35.62,0.43,0.28,55934.79,1348.52,0.94,10.71,89.90,41.479,07
18434,흥구석유(주),24060,0,2017.0,074607,5.0,1994/12/07,UQ,0.98,-0.56,...,24.31,0.34,0.24,46036.63,1147.56,0.74,9.02,76.50,40.117,07
18435,흥구석유(주),24060,0,2018.0,074607,5.0,1994/12/07,UQ,-5.89,-0.36,...,7.82,0.40,0.24,36557.57,1451.79,0.87,16.83,96.79,25.181,07
18436,흥구석유(주),24060,0,2019.0,074607,5.0,1994/12/07,UQ,11.24,-7.00,...,51.31,0.86,0.25,78081.78,1009.25,0.67,507.93,67.28,77.366,07

In [45]:
print('부도 기업의 데이터 행 수 : {}'.format(final_df['차기부도여부'].value_counts()[1]))
print('다음 사업연도에 감삭결과가 DS, DU 이거나 관리종목 혹은 상장 폐지로 되는 기업의 개수 : {}'.
      format(final_df[final_df['차기부도여부']=='1']['회사명'].nunique()))

부도 기업의 데이터 행 수 : 214
다음 사업연도에 감삭결과가 DS, DU 이거나 관리종목 혹은 상장 폐지로 되는 기업의 개수 : 214

In [47]:
final_df.rename(columns={'상품':'제품회전률', '원':'부재료회전률'}, inplace=True)

In [48]:
final_df.to_csv('dataset/basic_final_df.csv')